$bp-sm: 800px;
$bp-lg: 1100px;
$spacer: 8px;

$dark: #000;
$darkGreen: rgb(6 43 28);
$gray: gray;
$lightGray: #eaeaea;
$highlight: #eded34;
$light: #fff; 
$mint: #bbd3c9;
$cream: rgb(240, 220, 194);
$darkGray: #222f2a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Atkinson Hyperlegible', sans-serif;
}

.visually-hidden {
    display: none;
}

ul.flat {
    list-style: none;
}
video,
img {
    max-width: 100%;
}

nav > ul {
    list-style: none;
}

.spacer-top {
    margin-top: $spacer*3;
}
.spacer-bottom {
    margin-bottom: $spacer*3;
}

textarea,
input {
    border-radius: 0;
    border: none;
    outline: 0;
    &:focus {
        outline: 0;
    }
    background: $lightGray;
    padding: $spacer;
}

h1, h2, h3 {
    font-weight: 400;
}

h1, h2 {
    font-size: 3em;
}
h3 {
    font-size: 2.5em;
}


p, ul {
    font-size: 1.3em;
    line-height: 1.5em;
}

// button {
//     font-family: 'Zilla Slab', serif;

// }

button {
    outline: none;
    border: 0;
    border-radius: 0;
    background: transparent;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: bold;
    &:focus, &:active {
        outline: 0;
    }
    &:hover {
        cursor: pointer;
    }
}

button:not(.flat) {
    background: $dark;
    color: $light;
    transition: 0.3s ease-out all;
    span,
    a,
    a:visited {
        display: block;
        width: auto;
        white-space: nowrap;
        padding: $spacer;
        color: $light;
        transition: 0.3s ease-out all;
    }
    &:not(:disabled):hover {
        background: $cream;
        a, span {
            color: $dark
        }
    }
    &:disabled {
        background: $lightGray;
        &:hover {
            cursor: default;
            color: $light;
            a, a:hover {
                color: $light;
            }
        }
    }
}

button.flat {
    padding: 0;
    transition: .3s ease all;
    &.flat-invert {
        color: $light;
        a, span {
            color: $light;
        }
    }
    &:disabled {
        opacity: 0.8;
    }
    &:disabled:hover {
        cursor: default;
    }
    &:not(:disabled):hover {
        opacity: 0.8;
    }
}


button.flat {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    span, a {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        > *:first-child {
            margin-bottom: $spacer;
            flex: 0 0 $spacer*1.5;
        }
        
    }
}
a, a:visited {
    color: $dark;
    text-decoration: none;
}

a:hover, a:active {
    color: $gray;
    text-decoration: none;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.label {
    position: relative;
    height: 50px;
    > * {
        position: absolute;
    }
    .text-decoration {
        content: '';
        background: $lightGray;
        width: 100px;
        height: 30px;
        top: -($spacer*1.5);
        left: -($spacer*1.5);
        margin-bottom: $spacer*3;
        transition: .3s ease all;
    }
    h1, h2 {
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 0.03em;
    }
    &:hover {
        .text-decoration {
            top: 0;
            left: -4px;
        }
    }
}


button.inline {
    font-size: 50%;
    font-weight: inherit;
}


button.inline-block {
    display: inline-block;
}


.branch-index {
    header {
        padding-top: 10vh;
        margin-bottom: $spacer*5;
        
    }

    .instructions {
        // max-width: 45ch;
        margin: $spacer*3 0;
        p {
            font-size: 14px;
        }
    }
}

.branches-menu {
    img {
        max-height: 50vh;
    }
    nav ul {
        display: flex;
        flex-direction: column;    
        > * {
            margin-bottom: $spacer*3;
        } 

        .branch-item a {
            height: 250px;
            background: $lightGray;
            min-height: 100%;
            display: flex;
            flex-direction: row-reverse;
            transition: 1.2s ease all;
            overflow: hidden;
            > * {
                transition: 1.2s ease all;
            }
            .text-wrapper {
                font-size: 2em;
                line-height: 1.3em;
                transition: 1.2s ease all;
                transform: translateX(0);
                padding: $spacer*3;
                display: flex;
                flex-direction: column;
                flex: 1;
                margin: 0;
                align-items: flex-start;
                justify-content: center;
                > *:not(:last-child) {
                    margin-bottom: $spacer;
                }
                h3 {
                    font-size: 36px;
                    line-height: 36px;
                }
                p {
                    font-size: 16px;
                }
            }
            .image-wrapper,
            .image-placeholder-wrapper {
                flex: 0 0 40%;
            }
            .image-wrapper {
                img {
                    min-width: 100%;
                    height: 100%;
                    min-height: 100%;
                    overflow: hidden;
                    height: 100%;
                    object-fit: cover;
                    object-position: 0 0;
                    filter: grayscale(100) brightness(0.3)
                }
            }
            &:hover {
                background: $darkGray;
                color: $light;
                .image-wrapper img {
                    object-position: 50% 50%;
                    filter: grayscale(0) brightness(1)
                }
                .text-wrapper {
                    transform: translateX($spacer*3);
                }
            }
            .image-placeholder-wrapper {
                background: $dark;
            }            
        }
    }

}    

.occupation {

    .map {
        width: 100vw;
        height:100vh;
        margin: 0 auto;
        position: fixed;
        top: 0;
    }

    .marker {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        transition: 0.3s ease all;
    }

    .storymap-labels {
        background: white;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;
        padding: $spacer*3;
        display: flex;
        flex-direction: column;
        > * {
            margin-bottom: $spacer;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .storymap-label.viewed-story {
            text-decoration: line-through;
        }
    }
    .controls {
        z-index: 11;
        position: fixed;
    }
    .marker-highlight {
        background: $dark !important;
    }

    .marker-viewed {
        background: $dark !important;
    }
    .storymap-label:hover {
        cursor: pointer;
    }

    
}

.exhibit-navigation {
    &.hide-nav {
        display: none;
    }
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    left: 0;

    nav ul.nav-items {
        width: 100%;
        display: flex;
        background: $dark;
        justify-content: space-between;
        .nav-item {
            flex: 1;
            text-align: center;
            background: transparent;
            &:hover {
                background: $dark;
                .nav-item-text {
                    color: $light;
                }
            }
        }
        .nav-item-text {
            color: $light;
            display: block;
            padding: $spacer;
            text-transform: uppercase;
            font-size: 12px;
            &:hover {
                color: inherit;
            }
        }
        .nav-item-active, .nav-item.nav-item-active:hover {
            background: $mint;
            .nav-item-text {
                color: $dark;
            }
        }
        .nav-item.nav-item-active a:hover {
            cursor: default;
        }


    }
}


.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    .modal-container {
        padding: $spacer*3;
        background: white;
        width: 500px;
        border-radius: .5em;   
        > * {
            margin-bottom: $spacer*3;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.banner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: $light;
    margin-bottom: -30px;
    h1, h2, h3 {
        text-transform: uppercase;
        letter-spacing: 0.2em;
        font-weight: normal;
        color: $dark;
    }
}

.storymap-story {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 111;
    background: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .story-wrapper {
        display: grid;
        overflow-y: scroll;
        background: $cream;
        grid-template-columns: 1fr minmax(max-content, 70ch) min-content;
        grid-auto-rows: max-content;
        max-width: 1080px;
        margin: 0 auto;
        height: 100%;

        > .title-wrapper {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
        }
        > .text-wrapper {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        > .gallery-wrapper {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
        }
        > .modal-controls {
            // grid-row-start: 3;
            // grid-row-end: 4;
            // grid-column-start: 2;
            // grid-column-end: 3;
            // place-self: end;
            position: fixed;
            top: 0;
            right: 0;
        }
    }

    .title-wrapper {
        background: $light;
        text-align: center;
        h1, h2, h3 {
            font-size: 42px;
            padding: $spacer*10 $spacer*3;
            font-weight: 400;
            text-transform: uppercase;
        }
    }

    .text-wrapper {
        height: 100%;
        padding: $spacer*3;
        background: rgb(238, 221, 198);
        h1, h2, h3 {
            font-size: 1em;
            // text-transform: uppercase;
            margin-bottom: $spacer*3;
            font-style: italic;
        }
        > div {
            max-width: 70ch;
            // margin: 0 auto;
        }
        p + p {
            margin-top: $spacer*2;
        }

    }

    .gallery-wrapper {
        background: rgb(238, 221, 198);
    }
    

    .modal-controls {
        grid-row-start: 1;
        grid-row-end: 2;
    }
}


.photo-feed {
    > * {
        background: $light;
        padding: $spacer*3;
        margin-top: $spacer*3;
        figcaption {
            margin-top: $spacer;
            font-size: 16px;
            line-height: 22px;
        }
        img {
            max-width: 100%;
            min-width: 100%;
            height: auto;
            object-fit: cover;
        }
        // & + .photo-feed-item {
        // }
    }
}


.lightbox-wrapper {
    &:hover {
        cursor: pointer;
    }
    &.is-expanded {
        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background: transparent;
        .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.9);
        }
        > * {
            position: absolute;
            top: 0; 
            left: 0;
        }

        figure {
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            > *:not(:last-child) {
                margin-bottom: $spacer*3;
            }
        }
        img {
            width: auto;
            height: auto;
            max-height: 70vh;
            max-width: 100%;
            object-fit: contain;
        }
        figcaption {
            color: $light;
            max-width: 45ch;
            margin: 0 auto;
        }
    }
}


.talkback {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    .talkback-wrapper { 
        padding: $spacer*3;
        width: 960px;
        margin: 0 auto;
        background: transparent;
        transition: .3s ease all;
        &.is-editing {
            background: $cream;
        }
        &.is-submitted {
            background: $mint;
        }
        > div {
        display: flex;
        flex-direction: column;

        border-radius: 5px;
        > * {
            margin-bottom: $spacer*3;
            &:last-child {
                margin-bottom: 0;
            }
        }
        h1, h2, h3 {
            text-align: center;
        }
        p {
            font-size: 1.3em;
            line-height: 2em;
        }
        textarea {
            width: 100%;
            margin-bottom: 0 !important;
        }
        button[type="submit"] {
            width: 100%;
            margin-top: -8px;
        }
        button + button {
            margin-top: $spacer*3;
        }
    }}
    .response-wrapper {
        h2 {
            font-size: 18px;
        }
        p {
            padding: $spacer*2;
            background: $light;
            max-height: 200px;
            overflow-y: scroll;
            font-size: 16px !important;
            line-height: 24px;
            margin-top: 30px;
            text-align: left;
        }
    }
}

// layouts 

.page.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.text-wrapper {
    max-width: 50ch;
    margin: 0 auto;
    > * {
        // flex: 0;
        margin-bottom: $spacer*2;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &.center {
        align-items: center;
        justify-content: center;
    }
    &.left {
        align-items: flex-start;
        margin-left: 0;
    }
}

.bg-gray {
    background: $lightGray;
    padding: $spacer*3;
}

.fixed-top-left {
    position: fixed;
    top: 0;
    left: 0;
}

.fixed-bottom-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.cover-bg {
    min-height: 100vh;
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.draggable:hover {
    cursor: grab;
}

.story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    header {
        min-height: 100vh;
    }

    header, section {
        height: 100%;
        width: 100%;
        max-width: 100vw;
        overflow: hidden;
    } 

    header {
        background: $dark;
        color: $light;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    section.dark-solid {
        background: $dark;
    }
    section.header-image {
        height: 100vh;
        overflow: hidden;
        .image-wrapper {
            width: 100%;
            height: 100%;
            img {
                object-fit: cover;
                min-width :100%;
                height: 100%;
            }
        }
        &.header-image-contain {
            .image-wrapper {
                background: $dark;
                img {
                    object-fit: contain;
                }
            }
        }
    }
    section.story {
        background:rgb(238, 221, 198);
        + section.story {
            background: darken(rgb(238, 221, 198), 50)
        }
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding: $spacer*10 0 $spacer*15 0;
        .text-wrapper {
            background: $light;
            max-width: 70ch;
            margin: 5%;
            padding: $spacer*3;
            border-radius: 3px;
            h2 {
                margin: $spacer*2 0;
            }
            p + p {
                margin-top: $spacer*2;
            }
        }

        .image-wrapper {
            flex: 0 0 30%;
            position: relative;
            &:before {
                content: ' ';
                background: $dark;
                width: 100%;
                height: 100%;
                position: absolute;
                // top: -$spacer*4;
                // left: -$spacer*4;
                z-index: 8;
            }
            img {
                position: relative;
                z-index: 9;
                width: 100%;
                min-height: 100%;
                overflow: hidden;
                -o-object-fit: cover;
                object-fit: contain;
                object-position: center center;
    
            }
            
        }
    }
    section.pull-quote {
        display: flex;
        height: 100%;
        &:not(.pull-quote-row) {
            flex-direction: column;
            
        }
        .quote-wrapper {
           padding: 0 $spacer*3;
        }
        justify-content: center;
        align-items: center;
        background: $dark;
        color: $light;
        padding: 5% 0;
        .image-wrapper {
            max-width: 70%;
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: $spacer*3 auto;
            text-align: center;
            img {
                max-height: 100vh;
            }
        }
        .quote-wrapper {
            max-width: 60ch;
            margin: 0 auto;  
            text-align: center;
            blockquote {
                p {
                    font-size: 36px;
                   
                }
                p + p {
                    margin-top: $spacer*3;
                }
            }
            .attribution  {
                text-transform: uppercase;
                font-size: .8em;
                margin: $spacer*3 0;
            }

        }
    }

}

.placeholder-video-wrapper {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lighten($dark, 20);
}
.placeholder-video-container {
    position: relative;
    width: 1280px;
    height: 720px;
    @media (max-width: 1280px) {
        width: 100vw;
        height: 56vw;
    }
    > * {
        position: absolute;
        top: 0;
        left: 0;
    }
    .video {
        width: 100%;
        height: 100%;
        background: $dark;
    }
    .duration {
        background: $cream;
        width: 0;
        height: 10%;
        top: unset;
        bottom: 0;
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $light;
        width: 100%;
        height: 100%;
        > * {
            margin-top: $spacer*3;
            &:first-child {
                margin-top: 0;
            }
        }
        h2 {
            font-size: 1em;
        }
        p {
            font-size: .8em;
            max-width: 80ch;
            margin-left: auto;
            margin-right: auto;
        }
    }
    nav {
        display: flex;
        button:not(:last-child) {
            margin-right: $spacer*3;
        }
    }
}



.page-container {
    min-height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
    margin-bottom: $spacer*7;
    @media (max-width: 1080px) {
        max-width: 95%;
    }
}
p.small, span.small {
    font-size: 14px;
}
.slider-container {
    min-height: 100vh;
    max-width: 1080px;
    margin: 0 auto;
    overflow: hidden;
    @media (max-width: 1080px) {
        max-width: 95%;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    // background: $cream;
    .wrapper {
        background: $cream;
        padding: $spacer*3;
    }
    .slider-wrapper {
        display: flex;
        flex-direction: column;
        .slider-controls {
            align-self: flex-end;
            display: flex;
            margin-bottom: $spacer * 3;
            // flex-direction: column;
            // align-items: flex-end;
            > *:not(:last-child) {
                margin-right: $spacer;
            }
        }
        .slider-item {
            display: none;
            &[data-active-slide="true"] {
                display: flex;
                flex-direction: row;
                > * {
                    &:first-child {
                        padding-right: $spacer*3;
                    }
                }
                .video-wrapper { 
                    flex: 0 0 50%;
                }
            }
        }
    }
}

.tree-gallery  {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $spacer*3;
    > * {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.tree-container {
    background: $dark;

    header {
        height: 70vh;
        color: $light;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title-wrapper {
        text-align: center;
        padding: $spacer*6 0;
        color: $light; 
        // background: $light;
        h1, h2, h3 {
            font-size: 2em;
            display: inline-block;
            padding: $spacer $spacer*3;
        }
    }


    .person-card {
        background: transparent;
        color: $light;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: $spacer*6;
        > *:not(:last-child) {
            margin-bottom: $spacer*2;
        }
        h3 {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }
        p {
            font-size: 16px;
            line-height: 20px;
            &.location {
                text-transform: uppercase;
            letter-spacing: 0.03em;
            }
        }
    }
}

.submissions-toggle {
    position: fixed;
    top: 0;
    right: 0;  
}
.submissions-container {
    position: fixed;
    top: 0;
    right: 0;
    background: rgba(0,0,0,.8);
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    // align-items: center;
    justify-content: center;
    overflow-y: scroll;
    .close-button {
        position: absolute;
        top: 0;
        right: 0;
    }
    .not-unlocked {
        opacity: 0.5;
    }
    .submissions-list {
        width: 1080px;
        margin: 0 auto;
        background: $light;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: $spacer*3;
        header, footer {
            flex: 0 0 100%;
        }
        > section {
            flex: 1;
            margin-right: 1%;
            background:$lightGray;
            padding: $spacer*3;

            h2 {
                // font-size: 24px;
                margin-bottom: $spacer;

            }
            p {
                margin-bottom: $spacer;
            }
        }
        footer {
            margin-top: $spacer*4;
        }
    }
}

.hide-submissions {
    display: none;
}


@keyframes bounceUpDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY($spacer*2);
        opacity: 0.5;
    }
}

.scroll-down-nudge {
    &.hide-nudge {
        display: none;
    }
    &.show-nudge button {
        position: fixed;
        bottom: 150px;
        bottom: 10vh;
        left: 0;
        z-index: 100;
        width: 100%;
        text-align: center;
        height: 50px;
        img {
            object-fit: contain;
            max-height: 100%;
            width: 100%;
            filter: brightness(100);
            animation: bounceUpDown 1s ease-in-out;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }
}

.exhibit-intro-page {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    .background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        // width: 100%;
        // height: 100%;
        // .video-wrapper {
        //     min-width: 100%;
        //     min-height: 100%;
        //     video {
        //         width: 100%;
        //         height: 100%;
        //         height: 100vh;
        //         min-width: 100%;
        //         min-height: 100%;
        //         object-fit: cover; 
        //     }
        // }
    }
    h1 {
        font-size: 44px;
        text-transform: uppercase;
        letter-spacing: 0.03em; 
    }
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    .text-wrapper {
        z-index: 9;
        position: relative;
        background: $light;
        padding: $spacer*3;
    }
    form {
        background: $lightGray;
        padding: $spacer * 3;
        display: flex;
        flex-direction: column;
        > *:not(:last-child) {
            margin-bottom: $spacer;
        }
        h2 {
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }
        h2, label {
            font-size: 1em;
        }
        button,
        input + label,
        label + input {
            margin-top: $spacer;
        }
        input {
            text-align: center;
            background: $light;
        }
    }
}

// page backgrounds

.default-layout {
    background: $dark;
    &.branches {
        background: $mint;
    }
    &.talkback {
        background: $darkGray;
    }
}

footer {
    .story-container &,
    &.cta {
        background: $mint;
        padding: $spacer*6 0;
    }
    .call-to-action {
        display: flex;
        // flex-direction: column;
        justify-content: center;   
        text-align: center;
        > *:not(:last-child) {
            margin-right: $spacer*3;
        }
        h3 {
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }
        nav {
            display: flex;
            > * {
                flex: 0 0 30%;
                &:not(:last-child) {
                    margin-right: 1%;
                }
            }
            button {
                font-weight: 400;
            }
        }
    }

}


.exhibit.introduction {
    .container {
        min-height: 100vh;
        &.cover-bg {

        }
        .full-height-video {
            min-height: 100vh;
            video {
                object-fit: cover;
                width: 100%;
                height: 100%;
                min-height: 100vh;
                object-position: center center;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.video-wrapper {
    &.fade-in {
        opacity: 0;
        animation: fadeIn .3s ease-in forwards;
    }
}